Hello, {{order.user.firstName~"_"~order.user.lastName}} !
Your order has been successfully placed. The order number is {{"%1$08d"|format(order.id)}}.
To track your order progress please access the following link : <a href="{{url('order_details',{'id': order.id})}}"></a>