{% extends "BookshopAdminBundle::layout.html.twig"  %}
{% block body %}
<!--  start page-heading -->
<div id="page-heading">
    <h1>Administrator home page ...</h1>
</div>
<!-- end page-heading -->

{% endblock %}