{% extends "BookshopBookshopBundle::layout.html.twig"%}
{% block body %}
<div class="error-msg"> <div style="font-size: 20px">You don't have access to this page</div></div>
 <meta http-equiv="refresh" content="10;url={{path('bookshop_bookshop_homepage')}}">
{% endblock %}
{% block leftsidebar %}{% endblock %}
{% block rightsidebar %}{% endblock %}

