{% extends '::base.html.twig' %}

{%block collayout%}
<div class="main-container col2-left-layout">
    <div class="main">
    {% block body%}

            <div class="col-main">
        {% block fos_user_content %}
        {% endblock %}
                </div>

        {% block leftsidebar%}

        <div class="col-left sidebar">
            <div class="block block-account">
                <div class="block-title">
                    <strong><span>{{'dashboard.menu_title'|trans({},'BookshopBundle')}}</span></strong>
                </div>
                <div class="block-content">
                    
         {{ knp_menu_render('BookshopBookshopBundle:Builder:dashboardMenu', 
                            {'template': 'BookshopBookshopBundle:Menu:dashboard_menu.html.twig'}) }}
                    
                </div>
            </div>
            <!-- render cart -->

            {{ render(controller('BookshopBookshopBundle:Cart:index')) }}
                </div>

        {% endblock leftsidebar%}

    {% endblock %}

            </div>
        </div>
{%endblock%}
