{% extends '::base.html.twig' %}
{%block collayout%}
<div class="main-container col3-layout">
    <div class="main">
        <div class="col-wrapper">
            {% block body %}

            {% endblock %}
                {% block leftsidebar %}
                {{ parent() }}
                {% endblock %}
            </div>
        
            {% block rightsidebar %}
                {{ parent() }}
            {% endblock %}
            {% block fos_user_content %}
        <div class="col-wrapper">
            
                
            
        </div>
        {% endblock %}
        </div>
    </div>
{% endblock %}
