{% extends '::base.html.twig' %}

{%block layout%}
    <div class="main-container col3-layout">
        <div class="main">
            {% block body %}
                {{parent()}}
            {% endblock body %}
        </div>
    </div>
{%endblock layout%}